@import url('//fonts.googleapis.com/earlyaccess/jejumyeongjo.css');

@font-face {
	font-family: 'SpoqaHanSansNeo-Regular';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  }
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    
    background-color: rgba(254, 248, 240, 1);
    height: 915px;
    padding-top: 5px;
    display: grid;
    grid-template-columns: 0.5fr 10fr;
    font-family: 'SpoqaHanSansNeo-Regular';
}

a {
    text-decoration: none;
    color: #202020;
}

.sideBar {
    float: left;
    flex-grow: 1;
    min-width: 289px;
    max-width: 15%;
    padding-top: 50px;
    padding-left: 10%;
    background: #F3E8DC;
    border-radius: 0 20px 20px 0;
}

.custCenter {
    margin-top: 300px;
}

.guide {

    color: #898989;
}

.title {
    font-family: 'Jeju Myeongjo', serif;
    color: #734E39;
    font-size: 96px;
    margin-top: 1%;
    text-align: center;
}

.main {
    display: grid;
    width: 95%;
    padding-left: 120px;
    padding-bottom: 30px;
    grid-template-rows: 100px 0.3fr 0.5fr;
}


.chart {
    display: grid;
    margin: 3%;
    padding-left: 2%;
    padding-right: 2%;
    grid-template-columns: 1.2fr 1.5fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    column-gap: 50px;
}

.gender-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(177, 177, 177);
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    padding: 10px;
}
#gender{    
    font-size: 20px;
    padding-left: 3%;
    padding-top: 3%;
    /* margin-bottom: 12%; */
}
#pie-chart{
    display: flex;
    flex-direction: column;
  margin-left: 18%;

}
.no_dot {
    list-style-type: none;
  }
  
.monthly-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(177, 177, 177);
}
#bar-chart{
    margin-left: 4%;
}

#total-sales-text {
    font-size: 20px;
    padding-top: 5%;
    padding-left: 5%;
}

#total-sales-won {
    font-size: 20px;
    text-align: right;
    margin-top: 30px;
    padding-right: 6%;
}
#monthly{
    font-size: 20px;
    padding-left: 3%;
    padding-top: 3%;
    margin-bottom: 12%;

}
#august {
    font-size: 20px;
    padding-left: 3%;
    padding-top: 3%;
}

.room-status {
    padding: 6%;

}

.total-sales {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(177, 177, 177);
    margin-right: 70px;
    height: 30%;
}

.reservation-status {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(177, 177, 177);
    margin-right: 70px;
    height: 67%;
    padding-bottom: 1%;
}

.yearly-container {
    background-color: #ffffff;
    margin: 0 140px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(177, 177, 177);
}

#Sales-trend {
    font-size: 20px;
    padding: 2% 0px 0px 2%;

}

#line-chart {
    padding-left: 2%;
}
.progress-bar{
    background-color :#70B6C1;
}
#rooms-101 {
    margin-top: -7px;
    font-size: 15px;
}

#rooms-102 {
    margin-top: 10px;
    font-size: 15px;
}

#rooms-103 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

#Sales-trend-won {
    font-size: 20px;
    padding-left: 2%;
    color: #898989;
}